:root{
    --headerColor:#FDFDE9;
    --mainRed:#A34836;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}


header{
    background-color: var(--headerColor);
    padding: 0%;
    height: 16.5rem;
    flex-direction: column;

}

header img{
    width: 190px;
    margin: auto 0;
}
.main--nav{
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: var(--mainRed);
    height: 4rem;
}



.nav--icon, .know-more--button{
    display: none;
}

.main--nav ul{
    width: 100%;
    display: flex;
    height: 20px;
    justify-content: space-evenly;
    background-color: var(--mainRed);
    list-style: none;
}

.main--nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 18px 13px;
    transition: all 0.3s ease;
}

.main--nav ul li a:hover, .main--nav ul li a.active{
    background-color: white;
    color: var(--mainRed);
}


.country-info--container{
    color: var(--main-blue);
    flex-direction: row-reverse;
    justify-content: space-between;
}

.country-info--container h2{
    font-size: xxx-large;
    color: var(--main-blue);
}

.country-info--container hr{
    display: none;
}

.country-info--container p{
    width: 40%;
}

.help--container{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.why-to-help--section{
    height: 75vh;
}

.help--container h2{
    width: 40%;
}
.help--container p{
    width: 40%;
}


.imgs--container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}