:root{
    --headerColor:#FDFDE9;
    --mainRed:#A34836;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

.init, .know-more--button{
    display: none;
}

/* body{
    font-size: 2rem;
} */

main{
    height: 650px;
    padding: 0 70px;
}


main iframe{
    margin-top: 10px;
    width: 48rem;
    height: 28rem;
}

nav{
    display: block !important;
    height: 0 !important;
}
/* Esta linea se puede quitar para que no este fijo desde un comienzo */


nav .hide, header nav .logo--container{
    display: none !important;
}


nav ul{
    display: flex !important;
    height: unset !important;
}

nav ul li a{
    font-size: 17px !important;
    padding: 22px 30px !important;
}

/* nav ul li .active{

} */

header{
    height: 100vh;
}

header .desktop-logo{
    display: block;
    width: 100vw;
    padding-top: 2%;
}

header nav ul .ig-logo-li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .main--nav ul{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    background-color: var(--mainRed);
    list-style: none;
    position: initial;
    align-items: center;
} */

/* .main--nav ul li{
    min-width: 125px;
    
} */

/* .main--nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    /* padding: 18px 13px; 
    transition: all 0.3s ease;
} */

nav ul li a{
    font-size: 17px;
    padding: 22px ;;
    width: 100%;

}

.main--nav ul li a:hover{
    background-color: white;
    color: var(--mainRed);
}

main .ratio {
    max-width: 840px;
}

.story-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding: 80px 10%;
    
}

.story-line p{
    max-width: 355px;
    font-size: 1.6rem;
}


.story--container{
    margin-right: 32px;
}

.story--container h2{
    color: var(--secondBlue);
}

.story-line--pictures--container{
    margin:auto;
    width: 70%;
}

.story-line--pictures--container .first-picture {
    width: 98%;
    min-width: 243px;
}

.story-line--pictures--container .mini--picture {
    /* background-color: white; */
    min-width: 147px;
    width: 46%;
}

.story-line .world{
    width: 270px;
    position: absolute;
    /* top: 935px; */
    top: 21px;
    right: 84%;
}

.intention--section{
    /* background-color: var(--mainRed); */
    flex-direction: row-reverse;
    height: 100vh;
    /* position: relative; */

}

.intention--section img{
    width: 21%;
    /* max-width: 111px; */
    left: 47%;
    top: 231px;
}

.intention--section h2{
    font-size: xx-large;
}

.intention--container{
    width: 80%; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    max-width: none;
    margin: 0;
    padding: 0;
}

.intention--container p{
    max-width: 355px;
    font-size: 1.5rem;

}

.how-to-help--section{
    display: flex;
    flex-direction: column;
    padding: 9% 9% 0;
    height: 75vh;
}


.help--container{
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;

}

.help--container h2{
    font-size: 5.5rem;
    max-width: 20rem;
}

.help--container p{
    max-width: 300px;
    padding-top: 0;
    font-size: 1.6rem;
    /* font-family: 'Annie Use Your Telescope', cursive; */
    /* font-size: 1.9rem; */
}

.steps--container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: none;
    margin: 0;
    padding-top: 7rem;
    position: initial;
    padding-right: 215px;
    flex-wrap: nowrap;

}



.steps--container figure img {
    width: 188px;
    margin-top: 20px;
}

.how-to-help--section .steps--container .cometa {
    width: 215px;
    position: relative;
    left: 420px;
    /* bottom: 493px; */
    /* bottom: -68px; */
    top: -735px;
}
.how-to-help--section a{
    position: relative;
    left: 70%;
    margin: 5rem 0;
}

.info--section{
    font-size: 2.5rem;
}

.info--section p{
    padding: 0 40px;
    font-size: 2.5rem;
}

