:root{
    --headerColor:#FDFDE9;
    --mainRed:#A34836;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

header{
    background-color: var(--main-blue);
    height: 100vh;
    position: relative;
}

header .desktop-logo{
    display: block;
    width: 133px;
    /* padding-top: 2%; */
    position: absolute;
    left: 8%;
    top: 58%;
    /* z-index: 1; */
    transform: rotate(30deg);

}

header .contador{
    width: 30%;
    display: block;
    position: relative;
    right: 13px;

}
header .donacion-img{
    display: block;
    right: 11%;
    position: relative;
    width: 560px;

}

nav{
    display: block !important;
    height: 0 !important;

}

nav .hide, header nav .logo--container{
    display: none !important;
}


nav ul{
    display: flex !important;
    height: unset !important;
}
header nav ul li{
    border: 0.5px solid #d0cfca;
}

nav ul li a{
    font-size: 17px;
    padding: 22px ;
    background-color: var(--main-blue);
    width: 100%;
    color: white !important;
}



header nav ul li a:hover{
    background-color: white;
    color: var(--main-blue) !important;
}

header nav ul .ig-logo-li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

header nav ul .ig-logo-li a{
    padding: 16px 0 !important;
}

header nav ul li .ig-logo{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../iconos/ig2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.help--container{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: none
    /* margin: 0 auto; */
}

.help--container h2{
    font-size: 6.5rem;
}

.why-to-help--section{
    height: auto;
}

.help--container{
    padding: 20px;
}

.help--container h2{
    width: 40%;
}
.help--container p{
    width: 40%;
}



.ways-to-support--container{
    flex-direction: row;
    width: auto;
    align-items: center;
}

.ways-to-support--container h2{
    font-size: 6.5rem;
}

.way--container{
    width: 258px;
    margin-top: 6rem;
    text-align: center;
    height: 250px;
}

.donar-contenido{
    background-color: #fcf0ff;
    width: 300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    color: var(--main-blue);
    border: 10px solid #210049;
  }
  .donar{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:-118px;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #midonar:target{
    opacity:1;
    pointer-events:auto;
  }


.donar-contenido .otrologo{
    width: 251px;
    margin: 20px 0;;
}
.donar-contenido a{
    color: var(--main-blue);
    text-decoration: none;
    font-size: 12px;
}

.donar-contenido h2{
    font-size: 4rem;
    color: var(--main-blue);
}

.nequi .logo{
    margin-top: 50px;

}

.vaki{
    margin-left: 20px;
}
/* .imgs--container{
    display: flex;
    width: 100%;
    justify-content: space-around;
} */

.explanation--section .donation-expl-img {
    text-align: center;
}

.explanation--section .donation-expl-img img{
    max-width: 69vw;
}

