:root{
    --headerColor:#FDFDE9;
    --mainRed:#A34836;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

header{
    background-color: var(--main-blue);
    height: 100vh;
}

header .desktop-logo{
    display: block;
    width: 30vw;
    /* padding-top: 2%; */
    position: relative;
    left: 45%;
    top: 13%;
}

header .contador{
    width: 30%;
    display: block;
    position: relative;
    right: 156px;

}
header .donacion-img{
    display: block;
    right: 27%;
    position: relative;
    width: 560px;

}

nav{
    display: block !important;
    height: 0 !important;

}

nav .hide, header nav .logo--container{
    display: none !important;
}


nav ul{
    display: flex !important;
    height: unset !important;
}
header nav ul li{
    border: 0.5px solid #d0cfca;
}

nav ul li a{
    font-size: 17px;
    padding: 22px ;
    background-color: var(--main-blue);
    width: 100%;
    color: white !important;
}



header nav ul li a:hover{
    background-color: white;
    color: var(--main-blue) !important;
}

header nav ul .ig-logo-li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

header nav ul .ig-logo-li a{
    padding: 16px 0 !important;
}

header nav ul li .ig-logo{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../iconos/ig2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.help--container{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: none
    /* margin: 0 auto; */
}

.why-to-help--section{
    height: 75vh;
}

.help--container h2{
    width: 40%;
}
.help--container p{
    width: 40%;
}

.ways-to-support--container{
    flex-direction: row;
    width: auto;
}

.imgs--container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.explanation--section .donation-expl-img {
    text-align: center;
}

.explanation--section .donation-expl-img img{
    max-width: 80vw;
}