:root{
    --headerColor:#FDFDE9;
    --mainRed:#A34836;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

.init, .know-more--button{
    display: none;
}
main iframe{
    margin-top: 10px;
    width: 48rem;
    height: 28rem;
}

nav{
    display: block !important;
}
/* Esta linea se puede quitar para que no este fijo desde un comienzo */


nav .hide, header nav .logo--container{
    display: none !important;
}


nav ul{
    display: flex !important;
    height: unset !important;
}

nav ul li a{
    font-size: 17px !important;
    padding: 22px 30px !important;
}

/* nav ul li .active{

} */

header{
    height: 100vh;
}

header .desktop-logo{
    display: block;
    width: 730px;
}

header nav ul .ig-logo-li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .main--nav ul{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    background-color: var(--mainRed);
    list-style: none;
    position: initial;
    align-items: center;
} */

/* .main--nav ul li{
    min-width: 125px;
    
} */

/* .main--nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    /* padding: 18px 13px; 
    transition: all 0.3s ease;
} */

.main--nav ul li a:hover, .main--nav ul li a.active{
    background-color: white;
    color: var(--mainRed);
}

.story-line{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    
}

.story-line p{
    max-width: 255px;
}


.story--container{
    margin-right: 32px;
}

.story--container h2{
    color: var(--secondBlue);
}

.story-line--pictures--container{
    margin:auto
}
.intention--section{
    background-color: var(--mainRed);
    flex-direction: row-reverse;
    height: 100vh;

}

.intention--section h2{
    font-size: xx-large;
}

.intention--container{
    width: 80%; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    max-width: none;
    margin: 0;
    padding: 0;
}

.intention--container p{
    max-width: 255px;

}

.how-to-help--section{
    display: flex;
    flex-direction: column;
    padding: 9% 9% 0;
}


.help--container{
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;

}

.help--container h2{
    font-size: xx-large;
    max-width: 20rem;
}

.help--container p{
    max-width: 300px;
    padding-top: 0;
}

.steps--container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: none;
    margin: 0;
    padding-top: 7rem;
}

.steps--container figure img {
    width: 188px;
    margin-top: 20px;
}

.how-to-help--section a{
    position: relative;
    left: 70%;
    margin: 5rem 0;
}