:root{
    --headerColor:#FDFDE9;
    --mainRed:#B84B3E;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.4rem;
    font-family: 'Georama', sans-serif;
}

header{
    /* background-color: var(--main-blue); */
    width: 100vw;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

header .desktop-logo{
    display: none;
}
/* 
header nav{
    background-color: var(--main-blue);
} */



header nav{
    /* background-color: #B4CACD; */
    /* height: 64px; */
    position: fixed;
    /* left: 20px; */
    top: 0;
    width: 100vw;
    background-color: var(--mainWhite);
    z-index: 1;
}


header nav ul{
    list-style: none;
    display: none;
    justify-content: center;
    height: 90vh;
    /* height: 4rem; */
    text-align: center;
    background-color: #B4CACD;
    margin-bottom: 0;
    padding-left: 0;
}

header nav ul .ig-logo-li{
    display: none;
}

header nav ul li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #dddacd;
}

header nav ul li a{
    font-size: 19px ;
    padding: 22px 45px;
    transition: all 0.3s ease;
    color: white;
    /* display: block; */
    text-decoration: none ;

}


header nav ul li a:hover{
    background-color: var(--main-blue);
    height: 100%;
    width: 100%;
    align-items: ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

header .bici{
    display: none;
}


.hide{
    font-size: 22px;
    padding: 16px;
    /* background-color: var(--main-blue); */
    color: white;
    cursor: pointer;
    display: inline;
    position: relative;
    top: 21px;
}


nav .hide .fa{
    color: var(--main-blue);
}



header .logo--container{
    height: 100%;
    display: flex;
    justify-content: center;
}


header .logo{
    width: 150px;
    /* height: auto; */
    margin: auto 0;
    position: relative;
    bottom: 18px;
}
/* 
img{
    margin: 0rem;
} */
/* 
section{
    height: a;
} */

/* main iframe{
    margin-top: 10px;
    height: 20rem;
    width: 30rem;

} */
/* 
.main--nav{
    display: none;
} */






header img{
    width: 190px;
}

main{
    /* font-size: normal; */
    /* color: var(--secondBlue); */
    /* font-size: 500px; */
    /* text-align: center; */
    /* padding: 70px 24px; */
    /* background-color: var(--main-blue); */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 65px;
}

main h1{
    color: var(--main-blue);
    font-weight: 500;
    font-size:3.5rem;
    padding-bottom: 25px;
}

.members-video--section{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 15px;
}

.members-video--section .ratio{
    max-width: 465px;
}



.crew-members--section{
    background-color: #121B23;
    width: 100%;
    padding: 2rem;
}
/* 
.member1 { grid-area: m1; }
.member2 { grid-area: m2; }
.member3 { grid-area: m3; }
.member4 { grid-area: m4; }
.member5 { grid-area: m5; }
.member6 { grid-area: m6; }
.member7 { grid-area: m7; }
.member8 { grid-area: m8; }
.member9 { grid-area: m9; }


.members--container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "m1"
    "m2"
    "m3"
    "m4"
    "m5"
    "m6"
    "m7"
    "m8"
    "m9";
}

/* .just-member--container.member3 .just-member--container.member4 .just-member--container.member5
.just-member--container.member8 .just-member--container.member9{
    align-items: flex-end;
}
*/
/*version de posicionamiento en grillas*/


.members--container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;

}
.just-member--container{
    width: 300px;
    /* min-width: 300px; */
    /* max-width: 400px; */
    margin: 20px auto;
    height: 350px;
    background-color: #232c34;;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 1px;
    /* padding-top: 80px ; */
}

.just-member--container .member__letter{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url('../imagenes/a-letter.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 19px;
    left: 20px;

}

.member3, .member4, .member5, .member8, .member9{
    align-items: flex-end;
}

.members--container .member3 .member__letter{
   /* position: absolute;*/
   left: -35px;
}


.just-member--container .circle{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: var(--mainWhite);
    border-radius: 100%;
    margin-bottom: 25px;
}

.just-member--container p{
    color: var(--secondBlue);
}

footer{
    width: inherit;
    height: 65px;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainWhite);
}
