:root{
    --headerColor:#FDFDE9;
    --mainRed:#B84B3E;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.4rem;
    /* min-width: fit-content; */
    font-family: 'Georama', sans-serif;
}

/* img{
    margin: 0rem;
} */

/* section{
    /* height: 100vh;
} */

header{
    background-color: #B4CACD;
    width: 100vw;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

header .desktop-logo{
    display: none;
}
/* 
header nav{
    background-color: var(--main-blue);
} */



header nav{
    /* background-color: #B4CACD; */
    /* height: 64px; */
    position: fixed;
    /* left: 20px; */
    top: 0;
    width: 100vw;
    background-color: var(--mainWhite);
    z-index: 1;
}


header nav ul{
    list-style: none;
    display: none;
    justify-content: center;
    height: 90vh;
    /* height: 4rem; */
    text-align: center;
    background-color: #B4CACD;
    margin-bottom: 0;
    padding-left: 0;
}

header nav ul .ig-logo-li{
    display: none;
}

header nav .hide{
    font-size: 22px;
    padding: 25px;
    /* background-color: var(--main-blue); */
    color: white;
    cursor: pointer;
    display: inline;
    position: relative;
    top: 21px;
}

header nav .hide .fa{
    color: var(--main-blue);
}

header nav ul li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #d0cfca;
}


header nav ul li a{
    font-size: 19px;
    /* padding: 22px 45px; */
    transition: all 0.3s ease;
    color: white;
    /* display: block; */
    text-decoration: none;
}


header nav ul li a:hover{
    background-color: var(--main-blue);
    height: 100%;
    width: 100%;
    /* align-items: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}



header .logo--container{
    height: 100%;
    display: flex;
    justify-content: center;
}


header .logo{
    width: 150px;
    /* height: auto; */
    margin: auto 0;
    position: relative;
    bottom: 18px;
}

main{
    /* font-size: normal; */
    /* color: var(--secondBlue); */
    font-size: 500px;
    /* text-align: center; */
    padding: 70px 24px;
    background-color: var(--mainWhite);
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: var(--secondBlue);
    font-weight: 500;
    font-size:3.5rem;
    padding-bottom: 25px;
}

main .ratio{
    max-width: 465px;
}



.bs--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}

.bs--container h1{
    color: var(--main-blue);
    font-weight: 500;
    width: 50%;
    font-size:3.5rem;
    text-align: center;
}

.bs-pictures--container{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture--container{
    background-color: var(--main-blue);
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.production--section{
    background-color: #B4CACD;
    height: 70vh;
}

.production--container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 2rem;

}

.production-title--container{
    width: 30%;
    max-width: 25rem;
    text-orientation: upright;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.production-title--container h2{
    color: var(--main-blue);
    /* color: #121B23; */
    
    font-size: xx-large;
    font-weight: 500;
}


.videos--container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.production--container iframe{
    margin: 1rem;
    width: 63%;
    height: 45%;
    min-width: 20rem;
    min-height: 13rem;
    /* max-width: 32rem;
    max-height: 20rem; */

    /* min-width: 18rem;
    min-height: 10rem;
    max-width: 40rem; */
}

footer{

    height: 65px;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainWhite);
}