:root{
    --headerColor:#FDFDE9;
    --mainRed:#B84B3E;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.4rem;
    /* min-width: fit-content; */
    font-family: 'Georama', sans-serif;
}

/* img{
    margin: 0rem;
} */
/* 
section{
    height: 100vh;
} */

/* iframe{
    max-width: 320px;
} */


header{
    background-color: #B4CACD;
    width: 100vw;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;

}
header .desktop-logo{
    display: none;
}

.nav--icon{
    position: relative;
    right: calc(25% - 35px);
}

.nav--icon img{
    width: 20px;
}


.context--section{
    padding-top: 2rem;
}

.context--container{
    width: 80%;
    border: 0.1rem solid black;
    height: 95%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country--section{
    background-color: var(--mainRed);
    height: 110vh;
}

.country-info--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem;
    color: var(--mainWhite);
}

.country-info--container hr{
    height: 100%;
    width: 3px;
    background-color: var(--mainWhite);
    border: none;
    margin: 1rem 0;
}

.country-info--container h2{
    color: var(--mainWhite);
    font-size: xx-large;
}

.country-info--container p{
    max-width: 60rem;
    text-align: center;
}

.why-to-help--section{
    height: 70%;
}

.help--container{
    color: var(--main-blue);
    padding: 4rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help--container h2{
    font-size: xxx-large;

}

.help--container p{
    padding-top: 3rem;
    width: 80%;
}

/* 
.help--container{

    max-width: 40rem;
    padding: 5rem;
    color: var(--main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help--container h2{
    font-size: xx-large;
}

.help--container p{
    padding: 3rem 2rem 2rem;
} */




/*****************************************************/
.ways-to-support--section, .expl--section{
    height: auto;
    padding-top: 5rem;
}



.ways-to-support--container, .expl--container{
    padding: 0 4rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
    color: var(--main-blue);
}

.way--container{
    margin-top: 2rem
}
.way--container figure img{
    width: 100px;
    margin-top: 20px;
}

.ways-to-support--container h2, .expl--container h2{
    font-size: xx-large;
    width: 100%;
    margin-bottom: 2rem;
}

.chanel-of-support-img{
    width: 4rem;
    height: 4rem;
    background-color: var(--main-blue);
    margin:0 auto
}

.explanation--section{
    background-color: var(--main-blue);
    color: var(--secondBlue);
    padding-top: 3rem;
}

.expl--container{
    color: var(--secondBlue);
}

footer{

    height: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainBlue);
}