:root{
    --headerColor:#FDFDE9;
    --mainRed:#B84B3E;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    /* min-width: fit-content; */
    font-family: 'Georama', sans-serif;
}

.init{

    background-image: url('../imagenes/init-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-color: var(--headerColor); */
    /* text-align: center; */
    /* margin: auto 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.init .logo-container img{
    width: 100%;
}


.init .know-more--button{
    position: relative;
    top: 20%;
    padding: 5px;
    min-width: 170px;
    width: 70%;
    max-width: 270px;
    text-align: center;
    text-decoration: none;
    background-color: var(--main-blue);
    border-radius: 25px;
    color: var(--mainWhite);
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 2.4rem;
    /* font-weight: 600; */
}

/************************** HEADER ************************/


header{
    background-color: #B4CACD;
    width: 100vw;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

header .desktop-logo{
    display: none;
}

header nav{
    /* background-color: #B4CACD; */
    /* height: 64px; */
    position: fixed;
    /* left: 20px; */
    top: 0;
    width: 100vw;
    background-color: var(--main-blue);
    z-index: 1;
}


header nav ul{
    list-style: none;
    display: none;
    justify-content: center;
    height: 85vh;
    /* height: 4rem; */
    text-align: center;
    background-color: #B4CACD;
    margin-bottom: 0;
    padding-left: 0;
}

header nav ul .ig-logo-li{
    display: none;
}

header nav ul li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #d0cfca;
}




header nav ul li a{
    font-size: 19px;
    padding: 22px 45px;
    transition: all 0.3s ease;
    color: white;
    /* display: block; */
    text-decoration: none;
}


header nav ul li a:hover{
    background-color: var(--main-blue);
    height: 100%;
    width: 100%;
    /* align-items: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.hide{
    font-size: 22px;
    padding: 25px;
    /* background-color: var(--main-blue); */
    color: white;
    cursor: pointer;
    display: inline;
    position: relative;
    top: 21px;
}




header .logo--container{
    height: 100%;
    display: flex;
    justify-content: center;
}


header .logo{
    width: 150px;
    /* height: auto; */
    margin: auto 0;
    position: relative;
    bottom: 18px;
}

/************************** MAIN ************************/


main{
    /* font-size: normal; */
    /* color: var(--secondBlue); */
    font-size: 500px;
    /* text-align: center; */
    padding: 70px 24px;
    background-color: var(--main-blue);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    font-family: 'Annie Use Your Telescope', cursive;
    color: var(--secondBlue);
    font-weight: 500;
    font-size:6.5rem;
    padding-bottom: 25px;

}

main .ratio{
    max-width: 465px;
}


/************************** SECTION STOTYLINE ************************/

.story-line{
    background-color: #121B23;
    /* margin-top: var(--marginSections); */
    padding-top:20px ;
    min-height: min-content;
    /* height: vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}



.story--container{
    width: 60%;
    min-width: 325px;
    max-width: 450px;
    /* margin: 0 auto; */
    padding: 0 40px;
    /* position: relative; */

}

.story-line .world{
    width: 270px;
    position: absolute;
    /* top: 935px; */
    bottom: 88px;
    right: 72%;

}

.story--container h2{
    color: var(--secondBlue);
    font-weight: 500;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size:6.5rem;
}

.story--container p{
    font-size: 1.6rem;
    padding: 2px;
    padding-top: 10px;
    color: var(--secondBlue);
    line-height: 22px;
}

.story-line--pictures--container{
    /* width: 289px; */
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}

.story-line--pictures--container .first-picture{
    width: 74%;
    min-width: 243px;
}
.story-line--pictures--container .second-picture{
    width: 160px;
}
.story-line--pictures--container .third-picture{
    width: 160px;
}
.story-line--pictures--container .fourth-picture{
    width: 160px;
}
.story-line--pictures--container .five-picture{
    width: 160px;
}
    

.story-line--pictures--container div{
    margin: 6px;
    border-radius: 1px;


}


.story-line--pictures--container .first-picture img{
    width: 100%;
}

.mini--pictures--container{
    /* height: 30%; */
    width: 96%px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.story-line--pictures--container .mini--picture{
    /* background-color: white; */
    min-width: 147px;
    width: 34%;

}

/* #id-first--picture{
    width: 150px;
    height: auto;
    margin-bottom: 0px;
    background-color: white;
} */



.story-line--pictures--container .second-picture img{
    width: 100%;
}
.story-line--pictures--container .third-picture img{
    width: 100%;
}
.story-line--pictures--container .fourth-picture img{
    width: 100%;
}
.story-line--pictures--container .five-picture img{
    width: 100%;
}




/************************** SECTION GOAL (help) ************************/

.how-to-help--section{
    /* height: 60vh; */
    padding: 40px 0px;
    color: var(--main-blue);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.how-to-help--section h2{
    /* width: 55%; */
    font-size: 5rem;
    font-family: 'Annie Use Your Telescope', cursive;
    text-align: center;
    margin-bottom: 10px;
}

.help--container{
    /* display: flex; */
    /* width: 60%; */
    /* min-width: 325px;
    max-width: 450px; */
    /* margin: var(--marginSections) auto 0; */
    /* padding: 0 30px; */
    /* height: 500px; */
    color: #214255;
    /* justify-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* .help--container .goal-img{
    display: none;
} */
.help--container .goal-img{
    /* display: none; */
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px grey;
}

.help--container p{
    font-size: 1.6rem;
    line-height: 22px;
    width: 80%;
    margin: 22px auto;
}


/* PARA ORDENADOR */
/* .help--container .goal-img{
    width: 200px;
    border-radius: 50%;    
} */


/************************** SECTION NOTAS DE DIRECCION (intention) ************************/




.intention--section{
    padding: 40px 0px;
    /* display: flex; */
    color: #214255;
    background-color: #B4CACD;
    position: relative;
}



.intention--section .cometa{
    width: 32%;
    max-width: 160px;
    position: absolute;
    left: -55px;
    top: 190px;
}

.intention--container{
    display: flex;
    justify-content: center;
}

.intention--container h2{
    font-size: 5rem;
    font-family: 'Annie Use Your Telescope', cursive;
    /* text-align: center; */
    margin-bottom: 10px;
    color: var(--main-blue);
}

.intention--container .niñoniña{
    display: none;
}


.intention--section p{
    width: 80%;
    margin: 22px auto;
    font-size: 1.6rem;
    line-height: 22px;

}

/* .intention--container{
    width: 60%;
    min-width: 325px;
    max-width: 450px;
    margin: var(--marginSections) auto 0;
    padding: 0 30px;
    color: #214255;
} */

/* .intention--container{
    margin-top: 60px;
    position: relative; 
}*/

/* .intention--container h2{
    font-size: 4rem;
    font-family: 'Annie Use Your Telescope', cursive;
} */

/************************** SECCION INFORMACION ************************/


/************************** SECCION INFO ************************/


.info--section{
    font-family: 'Annie Use Your Telescope', cursive;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    /* max-width: 600px; */
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 0;

    font-size: 2rem;
    line-height: 24px


}

.info--section .la-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info--section .la-info h3{
    font-size: 4rem;
    color: #529ED4;
    text-align: center;
}

.info--section .la-info p{
    width: 80%;
    margin: 22px auto;
    font-size: 2rem;
    line-height: 24px;
}

.info--section > *{
    margin-bottom: 30px
}
/* 
.info--section h3{
    font-size: 3.3rem;
    color: #529ED4;
}

.info--section p{
    font-size: 2rem;
} */

.info--section .paperplane{
    width: 200px;
    transform: rotate(20deg);
}

.abuse-count--container{
    width: 100vw;
    background-color: #FFF6C3;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.women-count--container, .men-count--container{
    text-align: center;
    padding: 30px 0;
}
.women-count--container .number-one, .men-count--container .number-one{
    width: 45px;
}

.women-count--container .of, .men-count--container .of{
    display: inline;
    font-size: 6rem
}

.women-count--container .number-two, .men-count--container .number-two{
    width: 65px;
}

.men-count--container .number-two{
    width: 115px;
}

.men-count--container .men-table{
    width: 300px;
}

.abuse-count--container .shoe{
    width: 100px;
}

.girl--container{
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.girl--container p{
    text-align: initial;
}

.girl--container .second-p{
    width: 80%;
    margin: 22px auto;
    font-size: 2rem;
    line-height: 24px;
}



.girl--container .cifra{
    position: relative;
    /* top: -64px; */
    left: 84px;
    bottom: 52px;
}

.donation-continue{
    display: block;
    width: 210px;
    margin: 0 auto;
}

.donation-continue{
    width: 200px;
    background-color: var(--main-blue);
    border-radius: 12px;
    color: var(--mainWhite);
    padding:4px 15px;
    text-decoration: none;
    /* display: block; */
    /* margin: 20px auto 0; */
    text-align: center;
 
}

footer{
    width: inherit;
    height: 65px;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainWhite);
}


