:root{
    --headerColor:#FDFDE9;
    --mainRed:#B84B3E;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.4rem;
    /* min-width: fit-content; */
    font-family: 'Georama', sans-serif;
}

/* img{
    margin: 0rem;
} */
/* 
section{
    height: 100vh;
} */

/* iframe{
    max-width: 320px;
} */


header{
    background-color: #B4CACD;
    width: 100vw;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;

}
header .desktop-logo, header .contador, header .donacion-img{
    display: none;
}


header nav{
    /* background-color: #B4CACD; */
    /* height: 64px; */
    position: fixed;
    /* left: 20px; */
    top: 0;
    width: 100vw;
    background-color: var(--mainWhite);
    z-index: 1;
}


header nav ul{
    list-style: none;
    display: none;
    justify-content: center;
    height: 85vh;
    /* height: 4rem; */
    text-align: center;
    background-color: #B4CACD;
    margin-bottom: 0;
    padding-left: 0;
}

header nav ul .ig-logo-li{
    display: none;
}

header nav .hide{
    font-size: 22px;
    padding: 25px;
    /* background-color: var(--main-blue); */
    color: white;
    cursor: pointer;
    display: inline;
    position: relative;
    top: 21px;
}

header nav .hide .fa{
    color: var(--main-blue);
}

header nav ul li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #d0cfca;
}


header nav ul li a{
    font-size: 19px;
    /* padding: 22px 45px; */
    transition: all 0.3s ease;
    color: white;
    /* display: block; */
    text-decoration: none;
}


header nav ul li a:hover{
    background-color: var(--main-blue);
    height: 100%;
    width: 100%;
    /* align-items: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}



header .logo--container{
    height: 100%;
    display: flex;
    justify-content: center;
}


header .logo{
    width: 150px;
    /* height: auto; */
    margin: auto 0;
    position: relative;
    bottom: 18px;
}


.why-to-help--section{
    height: 70%;
}

.help--container{
    color: var(--main-blue);
    padding: 10rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.help--container h2{
    color: var(--secondBlue);
    /* font-weight: 500; */
    font-family: 'Annie Use Your Telescope', cursive;
    font-size:5.5rem;
    text-align: center;

}

.help--container p{
    font-size: 1.5rem;
    padding: 48px 15px;
    color: var(--secondBlue);
    line-height: 24px;
}

/* 
.help--container{

    max-width: 40rem;
    padding: 5rem;
    color: var(--main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help--container h2{
    font-size: xx-large;
}

.help--container p{
    padding: 3rem 2rem 2rem;
} */




/*****************************************************/
.ways-to-support--section{
    height: auto;
    padding-top: 5rem;
}



.ways-to-support--container{
    width: 332px;
    /* padding: 0 40px 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-blue);
    margin: 0 auto;

}

.way--container{
    width: 258px;
    margin-top: 6rem;
    text-align: center;
}
.way--container figure img{
    width: 70px;
    margin-top: 20px;
}

.ways-to-support--container h2{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 5rem;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--main-blue);
    
}

.way--container .first-step-img--container img{
    width: 55px;
}

.chanel-of-support-img{
    width: 200px;
    /* height: 4rem; */
    margin:0 auto
}

.chanel-of-support-img img{
    width: 100%;
}

.explanation--section{
    /* background-color: var(--main-blue); */
    /* color: var(--secondBlue); */
    padding-top: 3rem;
}

.explanation--section .donation-expl-img{
    width: 100vw;
    height: auto;
}

.explanation--section .donation-expl-img img{
    width: 100%;
}
/* 
.expl--container{
    color: var(--secondBlue);
} */

.why-to-help--section{
    background-color: var(--main-blue);
}

footer{

    height: 65px;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainWhite);
}