:root{
    --mainRed:#B84B3E;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    min-width: fit-content;
    font-family: Helvetica;
}

img{
    margin: 0rem;
}

.init{
    display: none;
}

main{
    background-color: var(--mainRed);
}


.main--nav{
    display: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: var(--main-blue);
}

.nav--icon{
    position: relative;
    right: calc(25% - 35px);
}

.nav--icon img{
    width: 20px;
}

header img{
    width: 190px;
}

main{
    text-align: center;
    margin-top: var(--marginSections);
}

main video{
    border: 1px solid black;
    margin-top: 10px;
    width: 70%;
    max-width: 360px;
}

.bs--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bs-pictures--container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture--container{
    background-color: var(--main-blue);
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.production--section{
    background-color: var(--secondBlue);
}

.production--container{
    display: flex;
    max-width: 45rem;

}

.production-title--container{

}