:root{
    --headerColor:#FDFDE9;
    --mainRed:#B84B3E;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smoothscroll-polyfill;
}

body{
    font-size: 1.4rem;
    /* min-width: fit-content; */
    font-family: 'Georama', sans-serif;
}

/* 
section{
    height: 100vh;
} */

.init{
    /* background-image: url('../imagenes/pruebaVertical.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    background-color: var(--headerColor);
    /* text-align: center; */
    /* margin: auto 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.init .logo-container img{
    width: 250px;
}


.init .know-more--button{
    position: relative;
    top: 28%;
    padding: 5px;
    min-width: 170px;
    width: 70%;
    max-width: 270px;
    text-align: center;
    text-decoration: none;
    background-color: var(--mainRed);
    border-radius: 25px;
    color: var(--mainWhite);
}

header{
    background-color: #B4CACD;
    width: 100vw;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

header .desktop-logo{
    display: none;
}
/* 
header nav{
    background-color: var(--main-blue);
} */



header nav{
    /* background-color: #B4CACD; */
    /* height: 64px; */
    position: fixed;
    /* left: 20px; */
    top: 0;
    width: 100vw;
    background-color: var(--main-blue);
    z-index: 1;
}


header nav ul{
    list-style: none;
    display: none;
    justify-content: center;
    height: 90vh;
    /* height: 4rem; */
    text-align: center;
    background-color: #B4CACD;
    margin-bottom: 0;
    padding-left: 0;
}

header nav ul .ig-logo-li{
    display: none;
}

header nav ul li{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


header nav ul li a{
    font-size: 19px;
    padding: 22px 45px;
    transition: all 0.3s ease;
    color: white;
    /* display: block; */
    text-decoration: none;
}


header nav ul li a:hover{
    background-color: var(--main-blue);

}

.hide{
    font-size: 22px;
    padding: 25px;
    /* background-color: var(--main-blue); */
    color: white;
    cursor: pointer;
    display: inline;
    position: relative;
    top: 21px;
}




header .logo--container{
    height: 100%;
    display: flex;
    justify-content: center;
}


header .logo{
    width: 150px;
    /* height: auto; */
    margin: auto 0;
    position: relative;
    bottom: 18px;
}
/* header ul li{
    width: 100%;
} */

/* header nav{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* header .main--nav .nav--button{
    position: relative;
    right: 55px;
} */

/* header .logo{
    display: block;
    width: 45%;
    height: auto;
} */

/* .main--nav .nav--button{
    order: 0;

} */

/* 
.main--nav ul{
    position: fixed;
    top: 60px;
    left: 0;
    background-color: var(--mainRed);
    height: 0vh;
    width: 100%;
    display:;
    list-style: none;
    text-align: center;
    transition: all 0.3s ease;
    float: right;
    display: none;
    
} */

/* .main--nav ul li{
    line-height: 50px;
    opacity: 0;
} */

/* .main--nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 18px 13px;
    transition: all 0.3s ease;
    padding: 18px 13px;
    display: block;

} */


/* 
.main--nav ul li a:hover, .main--nav ul li a.active {
    color: var(--mainRed);
    background-color: white;

}


.main--nav .nav--button{
    display: block;
    font-size: 23px;
    color: var(--mainRed);
    cursor: pointer;

}

  

#check {
    display: none;
}

#check:checked ~ ul{
    height: 100vh;
}

#check:checked ~ ul li{
    opacity: 1;
} */




/* header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: var(--mainWhite);
} */

/* .nav--icon{
    display: block;
    /* right: calc(25% - 35px); 
}

.nav--icon img{
    width: 20px;
} 
*/

main{
    /* font-size: normal; */
    /* color: var(--secondBlue); */
    font-size: 500px;
    /* text-align: center; */
    padding: 70px 24px;
    background-color: var(--main-blue);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: var(--secondBlue);
    font-weight: 500;
    font-size:3.5rem;
    padding-bottom: 25px;
}

main .ratio{
    max-width: 465px;
}
/* 
main iframe{
    margin-top: 10px;
    height: 20rem;
    width: 30rem;

} */

.story-line{
    background-color: #121B23;
    /* margin-top: var(--marginSections); */
    padding-top:20px ;
    min-height: min-content;
    /* height: vh; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    
}



.story--container{
    width: 60%;
    min-width: 325px;
    max-width: 450px;
    /* margin: 0 auto; */
    padding: 0 40px;
    /* position: relative; */
}

.story-line img{
    width: 270px;
    position: absolute;
    /* top: 935px; */
    bottom: 88px;
    right: 57%;

}

.story--container h2{
    color: var(--secondBlue);
    font-weight: 500;
    font-size:xxx-large;
}

.story--container p{
    font-size: 1.2rem;
    padding: 2px;
    padding-top: 10px;
    color: var(--secondBlue);
}

.story-line--pictures--container{
    width: 192px;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}
    

.story-line--pictures--container div{
    margin: 4.5px;
    border-radius: 1px;


}

.story-line--pictures--container .mini--picture{
    background-color: white;
    width: 60px;
    height: 60px;
}

#id-first--picture{
    width: 150px;
    height: 138px;
    margin-bottom: 0px;
    background-color: white;
}

.mini--pictures--container{
    height: 30%;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



.intention--section{
    display: flex;
    color: var(--main-blue);
    background-color: #B4CACD;
    position: relative;
    height: 60vh;
}

.intention--section img{
    width: 261px;
    /* max-width: 111px; */
    position: absolute;
    right: 55%;
    top: 700px;
}

.intention--container, .help--container{
    width: 60%;
    min-width: 325px;
    max-width: 450px;
    margin: var(--marginSections) auto 0;
    padding: 0 30px;
    color: #214255;
}

.intention--container{
    margin-top: 60px;
}

.intention--container p, .help--container p{
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2px;
    padding-top: 10px;
}

.help--container h2{
    width: 55%;
}

.help--container{
    margin-top: 0px;
}

.how-to-help--section{
    height: auto;
    padding: 40px 0px;
    color: var(--main-blue);
}
.how-to-help--section a{
    width: 200px;
    background-color: var(--main-blue);
    border-radius: 12px;
    color: var(--mainWhite);
    padding:4px 15px;
    text-decoration: none;
    display: block;
    margin: 20px auto 0;
 
}

.steps--container{
    width: 45%;
    min-width: 254px;
    max-width: 450px;
    margin: 80px auto 0px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    
}

.steps--container .cometa{
    width: 68%;
    /* max-width: 111px; */
    position: absolute;
    right: 65%;
    top: 100px;
}



.steps--container a{
    display: block;
    width: 210px;
    margin: 0 auto;
}

.steps--container figure img{
    width: 100px;
    margin-top: 20px;
    
}

.steps--container figure figcaption{
    text-align: center;
}


footer{
    width: inherit;
    height: 65px;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainWhite);
}


