:root{
    --headerColor:#FDFDE9;
    --mainRed:#B84B3E;
    --mainWhite:white;
    --main-blue:#121B23;
    --marginSections: 20px;
    --secondBlue:#C6EAFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    min-width: fit-content;
    font-family: Helvetica;
}

img{
    margin: 0rem;
}

section{
    height: 100vh;
}

main iframe{
    margin-top: 10px;
    height: 20rem;
    width: 30rem;

}

.videos--container iframe{
    max-width: 320px;
}




.init{
    display: none;
}

.main--nav{
    display: none;
}

header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: var(--mainWhite);
}

.nav--icon{
    position: relative;
    right: calc(25% - 35px);
}

.nav--icon img{
    width: 20px;
}

header img{
    width: 190px;
}

main{
    text-align: center;
    margin-top: var(--marginSections);
}

main video{
    border: 1px solid black;
    margin-top: 10px;
    width: 70%;
    max-width: 360px;
}

.bs--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bs-pictures--container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture--container{
    background-color: var(--main-blue);
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.production--section{
    background-color: var(--mainRed);
    height: 70vh;
}

.production--container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 2rem;

}

.production-title--container{
    width: 30%;
    max-width: 25rem;
    text-orientation: upright;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    text-orientation: sideways-right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.production-title--container h2{
    color: var(--main-blue);
    font-size: x-large;
}


.videos--container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.production--container iframe{
    margin: 1rem;
    width: 63%;
    height: 45%;
    min-width: 20rem;
    min-height: 13rem;
    /* max-width: 32rem;
    max-height: 20rem; */

    /* min-width: 18rem;
    min-height: 10rem;
    max-width: 40rem; */
}

footer{

    height: 65px;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainWhite);
}